language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"

install:
  - pip install coveralls

script: coverage run --source=psas_packet setup.py test

after_success: coveralls

notifications:
  irc:
    channels: "irc.psas.pdx.edu#psas"
    template:
      - "%{repository}@%{branch}: %{message} (%{build_url})"
    on_success: change
    on_failure: change
    use_notice: true
  email: false
